<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jinliyu.shoppingapp_1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ecommerce App"
        android:roundIcon="@mipmap/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.UpdateProfileActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.SubCategoryActivity" />
        <activity
            android:name=".activity.ShowsubcategoryActivity"
            android:label="@string/title_activity_showsubcategory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProductListActivity"
            android:label="@string/title_activity_product_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ProductDetailActivity" />
        <activity android:name=".activity.ShoppingCartActivity" />
        <activity android:name=".activity.BillingDetailActivity" />
        <activity android:name=".activity.OrderHistoryActivity" />
        <activity android:name=".activity.CheckOutActivity" />
        <activity android:name=".activity.ForgetPWActivity" />
        <activity android:name=".activity.AfterPaymentActivity" />
        <activity android:name=".activity.TechniquesActivity"></activity>
    </application>

</manifest>